body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

img{
  max-width: 100%;
  display: block;
}

p, h1, h2, h3{
  margin: 0px;
}

p{
  font-size: 20px;
  line-height: 1.3;
}

a{
  text-decoration: none;
}

.menu{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu a{
  background: #ffffff;
  padding: 15px 30px;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
}

.conteudo{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao{
  background: #ffffff;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  gap: 20px;
  align-content: center;
  justify-items: end;
}

.botao{
  color:#fff;
  border-radius: 4px;
  background:#ee2211;
  padding: 15px 30px;
  text-transform: uppercase;
}
.subtitulo{
  font-size: 4em;
  text-transform: uppercase;
  color: #c6c6c6;
  padding: 40px;
  align-self: center;
  text-align: right;
}

.vantagens{
  background:#ffffff;
  padding: 40px;
}

.vantagens-item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 10px;
}

.vantagens-item p{
  grid-column: 2;
}

.detalhe {
  width: 60px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.rodape{
  background: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}